@font-face {
    font-family: 'SF UI Text';
    src: url('../libs/fonts/SFUIText-Heavy.woff2') format('woff2'),
        url('../libs/fonts/SFUIText-Heavy.woff') format('woff'),
        url('../libs/fonts/SFUIText-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../libs/fonts/SFUIText-Bold.woff2') format('woff2'),
        url('../libs/fonts/SFUIText-Bold.woff') format('woff'),
        url('../libs/fonts/SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../libs/fonts/SFUIText-Light.woff2') format('woff2'),
        url('../libs/fonts/SFUIText-Light.woff') format('woff'),
        url('../libs/fonts/SFUIText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../libs/fonts/SFUIText-Medium.woff2') format('woff2'),
        url('../libs/fonts/SFUIText-Medium.woff') format('woff'),
        url('../libs/fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../libs/fonts/SFUIText-Semibold.woff2') format('woff2'),
        url('../libs/fonts/SFUIText-Semibold.woff') format('woff'),
        url('../libs/fonts/SFUIText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../libs/fonts/SFUIText-Regular.woff2') format('woff2'),
        url('../libs/fonts/SFUIText-Regular.woff') format('woff'),
        url('../libs/fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


